<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<th:block th:include="~{fragments/head}"></th:block>

<th:block th:include="~{fragments/navigation}"></th:block>

    <body>

        

        <div class="container my-4">
            <div class="row">
              <div class="offset-lg-4 col-lg-4 col-sm-6 col-12 main-section text-center">
                  <div class="row">
                      <div class="col-lg-12 col-sm-12 col-12 profile-header"></div>
                  </div>
                  <div class="row user-detail text-break">
                      <div class="col-lg-12 col-sm-12 col-12" th:object="${user}">
                          <img th:src="@{https://res.cloudinary.com/defiefioi/image/upload/v1615828486/profile_bu4kzl.webp}" class="rounded-circle img-thumbnail">

                          <h5 th:text="|Username: *{username}|">valo123</h5>
                          <h5 th:text="|Email: *{email}|">test@gmail.com</h5>
                          <hr>



                          <div class="row justify-content-center">
                              <button type="button" class="btn btn-lg btn-dark" data-toggle="modal" data-target="#exampleModalCenter">
                                  Delete account
                              </button>
                          </div>

                          <!-- Modal -->
                          <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                              <div class="modal-dialog modal-dialog-centered" role="document">
                                  <div class="modal-content">
                                      <div class="modal-header">
                                          <h5 class="modal-title" id="exampleModalCenterTitle">Message</h5>
                                          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                              <span aria-hidden="true">&times;</span>
                                          </button>
                                      </div>
                                      <div class="modal-body text-left">
                                          Do you really want to delete your profile !
                                      </div>

                                      <th:block sec:authorize="hasRole('ROLE_USER')">
                                          <div class="modal-footer d-flex justify-content-center">
                                              <a th:href="@{/users/profile/delete/{id}(id = *{id})}" class="btn btn-dark btn-lg">Submit</a>
                                          </div>
                                      </th:block>

                                  </div>
                              </div>
                          </div>
                          <hr>

                      </div>
                  </div>
              </div>
            </div>
          </div>

    
    </body>

<th:block th:include="~{fragments/footer}"></th:block>

</html>